.navbar a, .navbar ul li {
    opacity: 0;
    animation: slideRight 1.5s ease-in-out forwards;
    animation-delay: calc(0.25s * var(--i));
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-image-anmation {
    opacity: 0;
    animation: zoomBounce 2s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes zoomBounce {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(-40deg);
    }
    50% {
        transform: scale(1.1) rotate(0);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
}
.hero-content-animation{
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: calc(0.5s*var(--i));
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(50px);

    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}
/* Basic styles for the typing effect */
.typing-effect {
    font-size: 2rem; /* Adjust size as needed */
    font-weight: 600; /* Adjust weight as needed */
    color: var(--global-clr); /* Bright color for the text */
    border-right: 3px solid var(--global-clr); /* Cursor effect */
    padding-right: 5px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide the text that's not typed yet */
    display: inline-block;
    line-height: 1.2; /* Adjust line height for proper alignment */
    vertical-align: middle; /* Ensures it's vertically aligned with other elements */
    
}

/* Animation for the blinking cursor */
@keyframes blink {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: var(--global-clr);
    }
    100% {
        border-color: transparent;
    }
}

/* Apply the blink animation to the typing cursor */
.typing-effect {
    animation: blink 0.75s step-end infinite;
}

